:root {
  --primary: #b6895b;
  --bg: #ededed;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
body {
  font-family: "poppins", sans-serif;
  background-color: #6A6D78;
  color: black;
  min-height: 2000px;
  text-align: center;
  justify-content: center;
}
#humberger-menu {
  display: none;
}

/* hero Section*/
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("https://img.freepik.com/free-photo/programming-background-with-person-working-with-codes-computer_23-2150010125.jpg?size=626&ext=jpg&uid=R118614792&semt=sph");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero ::after {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(201, 201, 228) 3%,
    rgba(186, 183, 183, 0) 25%
  );
}
.hero .content {
  padding: 1.4rem 5%;
  max-width: 60rem;
  line-height: 1.2;
}
.hero .content h1 {
  font-size: 5rem;
  color: #EE9322;
  text-shadow: #100f0f;
}
.hero .content h2 {
  font-size: 2.8rem;
  color: #fff;
  text-shadow: #ed790d;
  line-height: 1.2;
}
.hero .content p {
  font-size: 1.5rem;
  margin-top: 2rem;
  line-height: 1.2;
  color: white;
}
.hero .content .cta {
  margin-top: 4rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 2rem;
  color: aliceblue;
  background-color: #0b0b0b;
  font-weight: 600;
  border-radius: 1rem;
  box-shadow: 1px 1px 3px;
}
/* tutor */
.body {
  padding: 0 35px;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  display: flex;
}

.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
  text-align: center;
  justify-content: space-between;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #FFECAF;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 10px;
}
.carousel .card .img {
  background: #f4800d;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}
.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}
@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}
@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}


 /* kenapa memilih kami */
 .tentang {
   padding: 5rem 7% 1.4rem;
   font-size: 2rem;
   margin-bottom: 3rem;
   text-align: center;
 }
 .tentang h1 span {
   color: #a17041;
 }

/* kenapa memilih kami */
.tentang {
  padding: 5rem 7% 1.4rem;
  font-size: 2rem;
  margin-bottom: 3rem;
  text-align: center;
}
.tentang h1 span {
  color: #a17041;
}

/* Bagian About */

.about .row {
  display: flex;
}

.about .row .image {
  flex: 1 1 45rem;
}

.about .row .image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content p {
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--light-color);
  margin-bottom: 0.8rem;
  font-weight: 100;
  text-align: justify;
  padding-top: 0;
}

.about .row .content h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 0rem;
}

.about .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 0.5fr));
  gap: 0.5rem;
  justify-content: center;
  align-items: flex-start;
  margin-top: 3rem;
  padding: 0.5rem 5%;
}

.about .box-container .box {
  border-radius: 0.5rem;
  background-color: var(--white);
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 2.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Menambahkan bingkai dalam */
}

.about .box-container .box i {
  font-size: 4rem;
  color: var(--main-color);
}

.about .box-container .box h3 {
  font-size: 2.5rem;
  color: var(--black);
  margin-bottom: 0.3rem;
}

.about .box-container .box p {
  font-size: 1.7rem;
  color: var(--light-color);
}

/* Bagian Reviews */
.reviews .heading{
  padding: 5rem 7% 1.4rem;
  font-size: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}
.reviews .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  justify-content: center;
  align-items: flex-start;
}

.reviews .box-container .box {
  border-radius: 0.5rem;
  background-color: var(--white);
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Menambahkan bingkai dalam */
}

.reviews .box-container .box p {
  line-height: 1.7;
  font-size: 1.7rem;
  color: var(--light-color);
}

.reviews .box-container .box .student {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.reviews .box-container .box .student img {
  height: 5rem;
  width: 5rem;
  object-fit: cover;
  border-radius: 50%;
}

.reviews .box-container .box .student h3 {
  font-size: 2rem;
  color: var(--black);
  margin-bottom: 0.3rem;
}

.reviews .box-container .box .student .stars {
  font-size: 1.5rem;
  color: var(--white);
}


/*mdia queries*/

/*laptop*/
@media (max-width: 1366px) {
  html {
    font-size: 70%;
  }
}

/*Tablet*/
@media (max-width: 768px) {
  html {
    font-size: 60%;
  }


  #humberger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgba(0, 0, 0, 0.5);
    width: 18rem;
    height: 100vh;
    transition: 0.4s;
  }

  .navbar .navbar-nav a {
    display: block;
    padding: 0.5rem;
    margin: 1.5rem;
    font-size: 2rem;
    color: azure;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scalex(0.3);
  }
  .navbar .navbar-nav.active {
    right: 0;
  }
  @media (max-width: 768px) {
    .about .row {
      flex-wrap: wrap;
    }
}
/*Mobile Phone*/
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .flex-btn {
    gap: 0;
    flex-flow: column;
  }

  .home-grid .box-container {
    grid-template-columns: 1fr;
  }

  .about .row .image img {
    height: 50rem;
  }
}
}